/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea/
.tool-versions
Gemfile.lock
/.gem_rbs_collection/
rbs_collection.lock.yaml
ext/encoded_id/Makefile
ext/encoded_id/*.bundle
ext/encoded_id/*.o
ext/encoded_id/*.so
ext/encoded_id/*.log
ext/encoded_id/*.dSYM
